





#list_search{margin-bottom: 30px; overflow: hidden; padding-left: 300px;  }
#list_search3,#list_search5,#list_search4{margin-left: 10px;float:right; }

select{font-size: 16px;  padding: 10px 5px;  margin-bottom: 10px;
        outline: none; box-shadow: none;}
input{background: #228b22; font-size: 16px; color:#fff; padding: 10px 40px; border:none;  margin-bottom: 20px;
        outline: none; box-shadow: none;}
#list_search4 input{background: #fff; padding:10px ; border:1px solid #228b22; color:#333}        
.scale_list{overflow: hidden; }
#list_search1{float:right; font-size: 18px; margin-right: 10px; padding: 7px 4px;}
.list_top{overflow: hidden;}
.list_top li{font-size: 20px;  text-align: center; float:left; background: #228b22; padding: 20px 0; color:#fff}
.list_top li:nth-of-type(1),.list_top li:nth-of-type(5),.list_top li:nth-of-type(3){width: 10%;}
.list_top li:nth-of-type(2){width: 50%;}
.list_top li:nth-of-type(4){width: 20%;}
.list_item{overflow: hidden; border-bottom:1px solid #ccc;}
.list_item:nth-of-type(odd){background: rgba(248, 248, 248, .8);}
.list_item1,.list_item5,.list_item3{width: 10%;   text-align: center; float:left;  padding: 20px 0;}
.list_item2{width: 50%; text-align: center; float:left; padding: 20px 0;}
.list_item4{width: 20%; text-align: center; float:left; padding: 20px 0;}


#page_button{text-align: center; margin-top:30px; font-size: 18px;}
#button{overflow: hidden; font-size: 16px;}
#button a:nth-of-type(1){float:left; margin-left: 0; padding: 10px; background: #228b22; color:#fff; padding: 10px 40px;}
#button a:nth-of-type(2){float:right; margin-right:0; padding: 10px; background: #228b22; color:#fff; padding: 10px 40px;}
#page_num{margin-top:40px}

