.visual { margin-top: 180px; width: 2000px; position: relative; left: 50%; margin-left: -1000px;  background: url(../images/v.jpg) no-repeat; 
    height: 350px; overflow: hidden; background-size: cover; background-position-y: 0; animation: grow 40s linear infinite;}

@keyframes grow {0% { background-size: 100% auto; }75% { background-size: 110% auto; }100% { background-size: 100% auto; }}
 


.sub_menu{margin: 0 auto; padding: 15px 0;  text-align: center; width: 1200px; position: relative;}
.sub_menu h3{font-size:50px; position: absolute; top:-200px; left:50%; margin-left: -101px; color:#fff; font-weight: 400;}
.sub_menu a{color: #333;margin: 0px 10px; padding: 10px 10px; position: relative; font-size:20px;}
.sub_menu ul{width: 800px; position: absolute; top:-27px; left:200px;}
.sub_menu ul li{width: 398px; float:left; border: 1px solid #ccc;  padding: 15px 0; background: #fff;}
.sub_menu ul li:nth-child(3){border-left:0;}
.sub_menu ul li:nth-child(2){border-left: 0;}
.sub_menu a::before, .sub_menu a::after{content: ''; position: absolute; width: 0%; height: 2px; background: #FFF; transition: all 0.3s;}
.sub_menu a::before{content: ''; left: 0px; top: 0px;}
.sub_menu a::after{content: ''; right: 0px; bottom: 0px;}
.sub_menu .current a::before{content: ''; left: 0px; top: 0px; width: 100%; height: 2px; background: #fff;}
.sub_menu .current a::after{content: ''; right: 0px; bottom: 0px;width: 100%; height: 2px; background: #fff;}
.sub_menu .current{background: #0065b3; border-color:#0065b3;}
.sub_menu .current a{color:#fff}
.sub_menu li:hover a{color:#fff}
.sub_menu li:hover{background: #0065b3; border-color:#0065b3;}
.sub_menu li:hover a::before, .sub_menu li:hover a::after{ width: 100%;}   
.sub_menu .line_map{width: 1200px; font-size: 16px; position: absolute; top:-270px; color:#fff}
.sub_menu .line_map strong{color:#fff; font-weight: 600;}


#content{width: 1200px; margin: 0 auto;}

#content .title_area{margin-top: 150px;}
#content h2{font-size: 50px; text-align: center; margin-bottom: 100px; font-family: '나눔고딕';}
#content .title_area p{font-size: 24px; font-family: '나눔고딕';  text-align: center; margin-bottom: 100px; line-height: 2em;}
#content .title_area p span{color:#0065b3; font-weight: 600;}
#content .title_area p span.color{color:#fa7c01; font-weight: 600;}