
#content .content01{width:1200px;}
#content .content01 p{ width:1200px; text-align: center; font-size: 26px; line-height: 40px; margin-bottom:140px;}
#content .content01_image ul li{ float: left; box-shadow: 5px 0 40px rgba(0, 0, 0, 0.24) ; margin-bottom:100px;}
#content .content01_image ul li:nth-child(2){margin-top:80px;}
#content .content01_text{ width:1000px; border-bottom:1px dotted #999;margin-left:100px; padding-bottom:50px; margin-bottom:200px;}
#content .content01_text>ul>li{padding:0 0 60px 30px;}
#content .content01_text dt{font-size: 26px; color:#228b22; font-weight: bold; line-height: 50px;}
#content .content01_text dd{font-size: 20px; line-height: 40px;}
#content .content01_text dd li{padding-left:20px;}


#content .content02{margin-left:100px; width:1000px; padding-bottom:50px; height:1250px; }
#content .content02_title{ width: 567px; height: 100px; margin:auto; font-size: 26px; text-align: center; margin-bottom:100px; }
#content .content02_title img{float: left; }
#content .content02_title img:last-child{padding-top: 40px;}
#content .content02_title h3{font-weight: normal; width:430px; padding:0 23px 0 28px; float: left; font-size: 36px; line-height: 50px;}

#content .content02_box{clear: both; width:1200px;}
#content .content02_box .box li{float: left;width: 460px; height:460px; padding:20px;box-shadow: 5px 0 30px rgba(0, 0, 0, 0.25) ;
                                margin:10px 10px; }
#content .content02_box .box li:first-child{margin-left:-10px; }
#content .content02_box .box li:nth-child(3){margin-left:-10px;}
#content .content02_box dl{text-align: center; margin-top:40px;}
#content .content02_box dt{font-size:26px; font-weight: bold; line-height: 40px;}
#content .content02_box dd{font-size:18px; line-height: 40px;}
#content .content02_box .box li>div{display:block; position:relative; overflow:hidden; }
#content .content02_box .box img{transform:scale(1); transition:transform .5s; display:block; position:relative; width: 460px; height: 324px;}
#content .content02_box .box img:hover{transform:scale(1.05);}
