/* CSS Document */
/* 비주얼 영역 */
 @keyframes gallery_text {
    from{transform:translateY(2rem); opacity: 0;}
    to{transform:translateY(0); opacity: 1;}
}

.visual{font-size: 45px; font-family:'NanumSquare', 'Nanum Gothic', sans-serif;  position:relative; width: 100%; overflow:hidden;margin-top: 70px; }
.visual .visual_gallery{position:relative; left:0; top:0; width:300%; overflow:hidden;}
.visual .visual_gallery ul li{float:left; position:relative; width: 33.333%;}
.visual .visual_gallery ul li .slogan{position:absolute;width: 100%; margin:auto; top:45%; color:#fff; line-height: 1.5; text-align: center;}
.visual .visual_gallery ul li .slogan strong{display:block; font-size:1.5rem; letter-spacing:-0.065rem; }
.visual .visual_gallery ul li .slogan span{display:block; font-size: 1rem; }
.visual .visual_gallery ul li img{width: 100%;}

.visual .dock{position:absolute; width:100%; margin:auto; bottom:1.8rem; font-size:0; text-align: center; }
.visual .dock span{display:inline-block; width: 10px; height: 10px; border-radius:10px; margin-left:5px; text-align: center; }
.visual .dock span:first-child{margin-left:0;}
.visual .dock span.on{background:#fff;}





/* 본문 콘텐츠 영역 */


/*EVENT*/
@keyframes gallery_text {
    from{transform:translateY(2rem); opacity: 0;}
    to{transform:translateY(0); opacity: 1;}
}
#content{font-family:'NanumSquare', 'Nanum Gothic', sans-serif;   position:relative; width: 100%; overflow:hidden;margin-top: 50px; }
#content .event_inner{position:relative; left:0; top:0; width:300%; overflow:hidden; margin-top: 1rem;}
#content .event_inner ul li{float:left; position:relative; width: 33.333%;}
#content .event_inner ul li img{width: 100%;}
 
/* #content .event .dock2{position:relative; width:100%; margin:auto; font-size:0; text-align: center; margin-top:1.8rem; height:20px; }
#content .event .dock2 span{display:inline-block; width: 10px; height: 10px; border-radius:10px;  text-align: center; border: 1px solid red;}
#content .dock2 span:first-child{ margin-right:20px; }
#content .dock2 span:nth-child(2){ margin-right:20px; }
#content .dock2 span:nth-child(3){}
#content .dock2 span.on{background:#fff;}  */

#content .event{font-size: 2rem; position:relative; width: 100%; overflow:hidden; margin-top: 50px;  }
#content .event span{position: absolute; display: block; font-size: 4.3rem; font-weight: bold; line-height: 8rem; 
                 color: #f6f6f6;  z-index: -1;}
#content .event h3{width:100%; font-size: 2rem; text-align: center;line-height: 8rem; font-weight: 700;}




/*media*/
#content .media{font-size: 2rem; position:relative; width: 100%; overflow:hidden; margin-top: 150px;  }
#content .media_box{ position:relative; left:0; top:0; width:300%; overflow:hidden; background: #e2f0ce;  height: 500px; clear:both; padding-top:20px;}
#content .media span{  font-size: 4.3rem; font-weight: bold; line-height: 8rem; 
                 color: #fff;  z-index: -1;}
#content .media h3{position: absolute; font-size: 2rem; text-align: center; font-weight: 700; margin-top:-75px; width:33.333%; }
#content .media_inner{margin: 1.5rem; clear: both; }   
#content .media_inner dl{float: left; width: 10.3%; margin-right:0.5%;}
#content .media_inner dl:last-child{margin-right:0;}
#content .media_inner dl dt img{border-radius: 15px; box-shadow: 3px 3px 10px #999; width:100%;}
#content .media_inner dl dd {font-size: 1rem; text-align: center; font-weight: 700; margin-top: 30px;}






 /*GALLERY*/
 #content .gallery{font-size: 2rem; position:relative; width: 100%; overflow:hidden; margin-top: 50px;  }
 #content .gallery span{position: absolute; display: block; font-size: 4.3rem; font-weight: bold; line-height: 8rem; 
                  color: #f6f6f6;  z-index: -1;}
 #content .gallery h3{width:100%; font-size: 2rem; text-align: center;line-height: 8rem; font-weight: 700;}
 
 




#content .gallery_box{ background: #e2f0ce; width: 100%; height: 700px; margin-top: 1rem;}
#content .gallery_inner{ padding-top:1rem; }
#content .gallery_inner ul{width: 96%; height: 625px; margin:50px 2%; }
#content .gallery_inner li{float: left; width:46%; padding:0 2%; margin:auto;}
#content .gallery_inner ul img{ border-radius: 0.5rem; box-shadow: 2px 2px 6px #999; width:100%;}
#content .gallery_inner li:nth-child(2){margin-top:10%;}
#content .gallery_inner li:nth-child(3){margin-top:-20%;}
#content .gallery_inner li:nth-child(4){margin-top:5%}
#content .gallery_inner li:nth-child(5){margin-top:-6%;}
#content .gallery_inner li:nth-child(6){margin-top:5%}
#content .gallery_inner li:nth-child(7){margin-top:-20%;}
#content .gallery_inner li:last-child{margin-top:5%}
#content .gallery_inner .gallery_plus img{position: absolute; top: 80px; right:10px; }



 /*recruit*/

.recruit{height:433px; position: relative;  top: 0;
     margin-top: 150px;font-family: 'NanumSquare','Nanum Gothic', sans-serif; 
     background:url(../images/recruit_bg.jpg)  center / cover no-repeat ;
     background-attachment: fixed; margin-bottom:150px;} 
.recruit .recruit_inner{ height:433px;  background-color: rgba(44, 44, 44, 0.418); }
.recruit .recruit_inner h4{color: #fff; text-align: center; font-size: 3rem;
                        padding-top: 100px;} 
.recruit .recruit_inner dl{width:100%;}
.recruit .recruit_inner dt{ color: #fff; text-align: center; font-size: 1.5rem;
                        padding-top: 70px;}
.recruit .recruit_inner dd { display: block;  text-align: center; font-size: 22px; line-height: 40px;
                        margin-top: 70px; 
                       cursor:pointer;}
.recruit .recruit_inner dd a{ padding:10px 20px;  margin:auto; color: #fff; border:1px solid #fff;} 