
#content .content01{width:1200px;}
#content .content01 p{ text-align: center; font-size: 26px; line-height: 40px; margin-bottom:140px;}

.content01_title{ position:relative; width:1200px; height:600px;  overflow: hidden;}
.content01_title .gallery{position:absolute; width:600px; height: 400px; overflow: hidden; border-radius: 15px;
                         margin-left:100px; margin-top:90px; left:0; top:0;}      
.gallery ul li{ float:left; list-style:none; }
.content01_title .gallery_text{position: relative; z-index: -1;}
.content01_title .gallery_text dl{ }
.content01_title .gallery_text dt{ width:340px; height:80px; background:#fff; padding-left:740px; padding-top:220px;
                                    font-size: 36px; font-weight: bold; padding-right: 120px;}
.content01_title .gallery_text dd{ width:290px; height:260px; background:#e2f0ce; padding-left:740px;  padding-top:40px;
                                     font-size: 20px; padding-right: 170px; line-height: 30px; } 



.content01_title .btn{display: block; width: 50px; height: 97px; 
        position: absolute;  top:252px;cursor:pointer; text-indent: -999px ;}
.content01_title .btnLeft{left:30px; background: url(../images/content2/left_bthn.png) 0 0 no-repeat;}
.content01_title .btnRight{right:30px; background: url(../images/content2/rigth_bthn.png) 0 0 no-repeat;}

.content_area .mainimg{  margin:200px 100px;  border-radius: 15px; box-shadow: 5px 0 30px rgba(0, 0, 0, 0.25) ;}







